@using Microsoft.AspNetCore.Components.Routing
@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode Theme="Theme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Class="px-md-20" Elevation="1" >
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" OnClick="@(() => DrawerOpen = !DrawerOpen)" />
        </MudHidden>

        <MudButton Href="/">
            <MudText Typo="Typo.h5">Pierre STORACI</MudText>

            <MudHidden Breakpoint="Breakpoint.MdAndDown">
                <MudText Typo="Typo.h6" Class="ml-2">Services informatiques</MudText>
            </MudHidden>
        </MudButton>

        <MudSpacer />

        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert>
            <NavMenu />
        </MudHidden>

    </MudAppBar>

    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <MudDrawer @bind-Open="DrawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
            <NavMenu />
        </MudDrawer>
    </MudHidden>

    <MudMainContent>
        @Body

        <MudAppBar Bottom Fixed="false">
            <MudText>© Copyright PS-Info @DateTime.Now.Year</MudText>
        </MudAppBar>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool DrawerOpen { get; set; }
    private MudTheme Theme { get; } = new MudTheme() {
            PaletteDark = new PaletteDark() {
                Primary = new MudBlazor.Utilities.MudColor("#d44516")
            }
        };
}